.diagram{
    padding: 1rem;
    border-radius: 12px;
    background: #ebc137;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10rem;
}